.add-user-form {
    display: flex;
    flex-direction: column;
}

.add-user-form  label {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.add-user-form input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #747d8c;
}
