.modal-window {
    display: none;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 50rem;
    margin: 0 auto;
    background-color: #f1f2f6;
    border-radius: 1rem;
    overflow: hidden;
    transform: translate(-50%, -50%);
}

.modal-window__header {
    display: flex;
    padding: 2rem;
    background-color: #ffa502;
    justify-content: space-between;
    align-items: center;
}

.modal-window__header h2 {
    font-size: 2.5rem;
    color: #ffffff;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
}

.modal-window__header span {
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}

.modal-window p {
    padding: 4rem 2rem;
    font-size: 1.6rem;
    letter-spacing: 1px;
}

.app.open .modal-window,
.app.open .modal-overlay {
    display: block;
}
